# Web Server & API
fastapi
uvicorn
python-multipart

# AI Models & Processing
faster-whisper
google-genai
google-generativeai
edge-tts

# Xử lý Video & Âm thanh
moviepy
ffmpeg-python

# Download Video ngắn
yt-dlp

# Hệ thống & Kết nối API bóc tách
httpx
asyncio
tenacity